// out: ../css/style.css, sourcemap: true, compress: false
@blue: #2e3192;
@white: #ffffff;
@black: #000000;
@sky : #00adef;
@ash-title: #a2a4c7;
@off-white: #f0f2f5;
@ash-text: #666666;
@footer-bg: #151746;
@copy-bg: #2b2f8c;
@border-clr: #d6d8e5;

.roboto {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  overflow-x: hidden;
}

.btn-more {
  a {
    color: @white;
    background-color: transparent;
    padding: 15px 40px;
    font-size: 18px;
    border: 1px solid @white;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    max-width: 240px;
  }
}

#header {
  background-color: @white;
  padding: 15px 0;
  .logo {
    padding: 0 0 0 15px;
    img {
      max-width: 180px;
      width: 50%;
    }
  }

  .navigation {
    ul {
      li {
        a {
          .roboto;
          color: @blue;
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }
}
//banner
.banner {
  background-image: url(../images/top-banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  .banner-txt-rap {
    width: 90%;
    margin: 0 auto;
    padding: 12% 0 18%;
    h3 {
      color: @white;
      font-size: 60px;
      font-weight: 700;
    }
    p {
      color: @white;
      font-style: italic;
      font-weight: 300;
      font-size: 25px;
    }
  }
}
//benifits
.benifits {
  background-color: @off-white;
  position: relative;
  .download-part {
    position: absolute;
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
    top: -20%;
    .download-part-rap {
      p {
        font-size: 15px;
        font-weight: 700;
        text-align: center;
        color: @white;
      }
      .download-area {
        background-color: @white;
        -webkit-box-shadow: 0px 10px 27px 0px rgba( 46, 49, 146, .1 );
    -moz-box-shadow: 0px 10px 27px 0px rgba( 46, 49, 146, .1 );
    box-shadow: 0px 10px 27px 0px rgba( 46, 49, 146, .1 );

    border-radius: 5px;
        .download-fileds {
          padding: 10% 0;
          .form-row {
            width: 70%;
            margin: 0 auto;
            input {

            }

          }
        }
      }
    }
  }
  .benifit-rap {
    width: 100%;
    padding: 10% 0;
    .benifit-title {
      padding: 0 0 30px 0;
      h4 {
        font-weight: 700;
        font-size: 25px;
        text-transform: uppercase;
        color: @blue;
        letter-spacing: 10px;
        opacity: .5;
      }
    }
    .benifits-list {
      width: 80%;
      margin: 0 auto;
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          float: left;
          width: 20%;
          .benifit-list-rap {
            img {
              max-width: 180px;
              width: 70%;
            }
            h5 {
              font-weight: 700;
              font-size: 15px;
              color: @blue;
              padding: 15px 0 0 0;
            }
            p {
              font-size: 12px;
              color: @blue;
              padding: 15px 10%;
            }
          }
        }
      }
    }
  }
}
//who-benifits
.who-benifits {
  padding: 0;
  .benifit-rap {
    width: 100%;
    padding: 6% 0;
    .benifit-title {
      padding: 0 0 50px 0;
      h4 {
        font-weight: 700;
        font-size: 25px;
        text-transform: uppercase;
        color: @blue;
        letter-spacing: 10px;
        opacity: .5;
      }
    }
    .who-benifits-tabs {
      width: 100%;
      margin: 0 auto;
      nav {
        width: 100%;
        .nav-tabs {
          padding-left: 20%;
          .nav-link {
            padding: .5rem 6rem;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;
            border-color: #e9ecef #e9ecef transparent #e9ecef;
            color: @blue;
            background-color: @off-white;
            .roboto;
          }
          .active {
            padding: .5rem 6rem;
            color: @sky;
            background-color: @white;
            box-shadow: 0px -10px 10px 0px rgba( 0, 48, 132, 0.1 )
          }
        }
      }
      .tab-content {
        width: 60%;
        margin: 0 auto;
        padding: 40px 0;
        .tab-inner {
          .tab-left {
            float: left;
            .left-inner {
              img {
                width: 100%;
              }
            }
          }
          .tab-right {
            float: left;
            .right-inner {

            }

          }

        }
      }
    }
  }
}
//testmonial
.tstimonial {
  background-color: @blue;
  .tstimonial-rap {
    padding: 8% 0;
    .tesimonial-title {
      width: 100%;
      text-align: center;
      padding: 0 0 40px 0;
      h2 {
        font-weight: 800;
        font-size: 30px;
        text-transform: uppercase;
        color: @white;
        letter-spacing: 10px;
      }
    }
    .carousel {
      width: 80%;
      margin: 0 auto;
      .carousel-indicators {
        bottom: -60px;
        li {
          width:  10px;
          height: 10px;
          border-radius: 50%;
          background-color: @sky;
          &.active {
            height: 12px;
            width: 12px;
            background-color: @white
          }
        }
      }
      .carousel-inner {
        .carousel-item {
          width: 60%;
          margin: 0 auto;
          text-align: center;
          p {
            color: @white;
            font-style: italic;
            font-size: 18px;
          }
        }
      }
      .carousel-control-prev {
        .carousel-control-prev-icon {
          background-image: url(../images/arrow-left.png);
          width: 11px;
          height: 17px;
        }
      }
      .carousel-control-next {
        .carousel-control-next-icon {
          background-image: url(../images/arrow-right.png);
          width: 11px;
          height: 17px;
        }
      }
    }
  }
}
.why-us {
  width: 100%;
  padding: 115px 0 80px;
  background-image: url(../images/why-us-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .why-us-rap {
    width: 100%;
    margin: 0 auto;
    .why-us-text {
      width: 60%;
      margin: 0 auto;
      .why-us-left {
        width: 40%;
        float: left;
        h1 {
          font-weight: 800;
          font-size: 30px;
          letter-spacing: 10px;
          text-transform: uppercase;
          color: @white;
          text-align: center;
          padding: 130px 0 0 0;
        }
      }
      .why-us-right {
        width: 60%;
        float: left;
        .why-right-txt {
          border-left: 1px solid @white;
          padding-left: 25px;
          p {
            font-size: 18px;
            color: @white;
            font-weight: 700;
          }
          .more-btn {
            padding: 30px 0 12px 0;
          }
        }
      }
    }

  }
  .suscribe {
    width: 100%;
    padding: 80px 0 0 0;
    .download-part {
      width: 40%;
      margin: 0 auto;
      .download-part-rap {
        p {
          font-size: 15px;
          font-weight: 700;
          text-align: center;
          color: @white;
        }
        .download-area {
          background-color: @white;
          -webkit-box-shadow: 0px 10px 27px 0px rgba( 46, 49, 146, .1 );
          -moz-box-shadow: 0px 10px 27px 0px rgba( 46, 49, 146, .1 );
          box-shadow: 0px 10px 27px 0px rgba( 46, 49, 146, .1 );
          border-radius: 5px;
          .download-fileds {
            padding: 10% 0;
            .form-row {
              width: 70%;
              margin: 0 auto;
              input {

              }

            }
          }
        }
      }
    }
  }
}
.footer {
  .footer-row {
    background-color: @footer-bg;
    padding: 10px 0;

  }
  .copyright-row {
    background-color: @copy-bg;
    padding: 15px 0;
    p {
      text-align: center;
      font-family: 'Barlow', sans-serif;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      color: @sky;
    }
  }
}


/**
* About us page
*/
.about-banner {
  background-image: url(../images/about-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  .banner-txt-rap {
    width: 50%;
    margin: 0 auto;
    padding: 10% 0 12.7%;
    h3 {
      color: @white;
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase;
    }
    p {
      color: @white;
      font-weight: 300;
      font-size: 19px;
      line-height: 25px;
      margin: 0;
      margin: 24px 0 0 0;
    }
  }

}
.individuals {
  position: relative;
  .individuals-rap {
    width: 100%;
    padding: 4.4% 0 2.2%;
    .individuals-title {
      padding: 0 0 110px 0;
      h4 {
        font-weight: 800;
        font-size: 30px;
        text-transform: uppercase;
        color: @blue;
        letter-spacing: 12px;
        opacity: .5;
      }
    }
    .individuals-list {
      width: 82%;
      margin: 0 auto;
      .un-list {
        margin: 0;
        padding: 0;
        width: 100%;
        li {
          list-style: none;
          float: left;
          width: 29%;
          background-color: @white;
          -webkit-box-shadow: 0px 0px 27px 0px rgba( 46, 49, 146, .1 );
          -moz-box-shadow: 0px 0px 27px 0px rgba( 46, 49, 146, .1 );
          box-shadow: 0px 0px 27px 0px rgba( 46, 49, 146, .1 );
          margin-right: 6.5%;
          &:last-child {
            margin-right: 0;
          }
          .individuals-list-rap {
            img {
              max-width: 138px;
              width: 31%;
              margin: -15% 0 0 0;
            }
            h5 {
              font-weight: 800;
              font-size: 30px;
              color: @ash-text;
              padding: 34px 0 35px 0;
              text-transform: uppercase;
              border-bottom: 1px solid @border-clr;
              span.speak {
                color: @blue;
              }
              span.pulse {
                color: @sky;
              }
            }
            .indi-list {
              width: 52%;
              margin: 0 auto;
              padding: 14% 0 14% 0;
              .fa-ul {
                width: 100%;
                margin: 0;
                padding: 0;
                li {
                  width: 100%;
                  box-shadow: none;
                  text-align: left;
                  font-size: 16px;
                  line-height: 23px;
                  color: @ash-text;
                  margin: 0 0 20px 0;
                  .fa-li {
                    color: @blue;
                  }
                }
              }
            }
          }
        }
      }
      .app-link {
        width: 100%;
        padding: 38px 0 7px 0


        ;
        ul {
          li {
            a {
              padding: 0;
              img {

              }
            }
          }
        }
      }
    }
  }
}
.enterprise {
  width: 100%;
  padding: 152px 0 153px;
  background-image: url(../images/about-footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .why-us-rap {
    width: 100%;
    margin: 0 auto;
    .why-us-text {
      width: 100%;
      margin: 0 auto;
      .why-us-left {
        width: 50%;
        float: left;
        h1 {
          font-weight: 800;
          font-size: 30px;
          letter-spacing: 15px;
          text-transform: uppercase;
          color: @white;
          text-align: center;
          padding: 75px 47px 0 0;
          text-align: right;
        }
      }
      .why-us-right {
        width: 50%;
        float: left;
        .why-right-txt {
          border-left: 1px solid @white;
          padding: 66px 0 39px 64px;
          p {
            font-size: 18px;
            color: @white;
            font-weight: 700;
          }
          .more-btn {
            padding: 0;
            a {
              padding: 10px 5px;
              max-width: 250px;
              .roboto;
            }
          }
        }
      }
    }
  }
}

/**
* Blog page
*/
.blog-banner {
  background-image: url(../images/blog-banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 3.8% 0 6%;
  .blog-caro-rap {
    width: 70%;
    margin: 0 auto;
    h1 {
      color: @white;
      font-size: 60px;
      font-weight: 800;
      text-align: center;
    }
    .blog-caro {
      padding: 43px 0 0 0;
      .carousel {
        width: 100%;
        margin: 0 auto;
        .carousel-indicators {
          bottom: -60px;
          li {
            width:  10px;
            height: 10px;
            border-radius: 50%;
            background-color: @sky;
            &.active {
              height: 12px;
              width: 12px;
              background-color: @white
            }
          }
        }
        .carousel-inner {
          .carousel-item {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            .caroleft {
              float: left;
              padding: 0;
              width: 49.5%;
              img {
                width: 91%%;
                float: right;
                border-radius: 5px;

              }
            }
            .caroright {
              width: 49.5%;
              float: left;
              padding: 0;
              h4 {
                margin: 15% 0 0 0;
                color: @white;
                text-align: left;
                border-bottom: 1px solid @white;
                padding-left: 4%;
                font-size: 30px;
                font-weight: 800;
                padding-bottom: 25px;
              }
              .content {
                min-height: 135px;
                padding: 13px 0 0 4%;
                p {
                  color: @white;
                  text-align: left;
                  font-size: 18px;
                  .roboto;
                  line-height: 23px;
                }
              }
              .post-info {
                padding: 0 0 0 4%;
                ul {
                  margin: 0;
                  padding: 0;
                  li {
                    list-style: none;
                    float: left;
                    p {
                      color: @white;
                      .roboto;
                      font-size: 18px;
                      margin: 7px 0 0 0;
                    }
                    a {
                      color: @white;
                      .roboto;
                      font-size: 18px;
                      text-decoration: none;
                    }
                  }
                  .more {
                    margin: 0 8% 0 0;
                    .more-btn {
                      a {
                        padding: 6px 17px;
                        color: @sky;
                        border: 1px solid @sky;
                      }
                    }
                  }
                  .admin {
                    margin: 0 5% 0 0;
                  }
                  .p-date {
                    margin: 0 6% 0 0;
                  }
                  .comment {
                    padding: 7px 0 0 0;
                    margin: 0 5% 0 0;
                  }
                  .category {
                    padding: 7px 0 0 0;
                    margin: 0;
                  }
                }
              }

            }

          }
        }
        .carousel-control-prev {
          left: 42.5%;
          width: auto;
          height: 20px;
          bottom: -58px;
          top: auto;
          z-index: 111;
          .carousel-control-prev-icon {
            background-image: url(../images/arrow-left.png);
            width: 11px;
            height: 17px;
          }
        }
        .carousel-control-next {
          right: 42.5%;
          width: auto;
          height: 20px;
          bottom: -58px;
          top: auto;
          z-index: 111;
          .carousel-control-next-icon {
            background-image: url(../images/arrow-right.png);
            width: 11px;
            height: 17px;
          }
        }
        .carousel-indicators {
          bottom: -72px;
        }
      }
    }
  }
}
// blog cotntent
.blog-section {
  width: 100%;
  .blog-posts {
    width: 70%;
    float: left;
    .post {
      width: 100%;
      border-bottom: 1px dashed @border-clr;
      padding: 7.7% 0 0 0;
      .post-content {
        width: 72%;
        margin:  0 auto;
        .caroleft {
          float: left;
          padding: 0;
          width: 46.5%;
          img {
            width: 100%;
            float: right;
            border-radius: 5px;

          }
        }
        .caroright {
          width: 53.5%;
          float: left;
          padding: 0;
          h4 {
            margin: -4px 0 0 0;
            color: @ash-text;
            text-align: left;
            border-bottom: 1px solid @border-clr;
            padding-left: 5%;
            font-size: 30px;
            font-weight: 800;
            padding-bottom: 19px;
          }
          .content {
            min-height: 125px;
            padding: 20px 0 0 5%;
            p {
              color: @ash-text;
              text-align: left;
              font-size: 18px;
              .roboto;
              line-height: 23px;
              margin: 0;
            }
          }
          .post-info {
            padding: 0 0 0 5%;
            ul {
              margin: 0;
              padding: 0;
              li {
                list-style: none;
                float: left;
                p {
                  color: @white;
                  .roboto;
                  font-size: 18px;
                  margin: 7px 0 0 0;
                }
                a {
                  color: @white;
                  .roboto;
                  font-size: 18px;
                  text-decoration: none;
                }
              }
              .more {
                margin: 0;
                .more-btn {
                  a {
                    padding: 6px 17px;
                    color: @blue;
                    border: 1px solid @blue;
                  }
                }
              }
            }
          }

        }

      }
      .post-info {
        width: 100%;
        padding: 5% 0 7px 0;
        ul {
          margin: 0;
          padding: 0 4% 0 0;
          li {
            list-style: none;
            display: inline;
            p {
              color: #a2a4c7;
              .roboto;
              font-size: 18px;
              margin: 7px 0 0 0;
            }
            a {
              color: #a2a4c7;
              .roboto;
              font-size: 18px;
              text-decoration: none;
            }
          }
          .admin {
            margin: 0 3% 0 0;
          }
          .p-date {
            margin: 0 2% 0 0;
          }
          .comment {
            padding: 7px 0 0 0;
            margin: 0 3% 0 0;
          }
          .category {
            padding: 7px 0 0 0;
            margin: 0;
          }
        }
      }
    }
  }
  .side-bar {
    width: 30%;
    float: left;
  }
}

/**
* Team Page
*/
//team banner
.team-banner {
  background-image: url(../images/team-banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  .banner-txt-rap {
    width: 50%;
    margin: 0 auto;
    padding: 8.6% 0 9.6%;
    h3 {
      color: @white;
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase;
    }
    p {
      color: @white;
      font-weight: 300;
      font-size: 19px;
      line-height: 21px;
      margin: 0;
      margin: 24px 0 0 0;
    }
  }

}
//team member
.team-section {
  width: 100%;
  padding: 8% 0 12.5%;
  .team-rap {
    .team {
      text-align: center;
      min-height: 290px;
      margin-bottom: 42px;
      h2 {
        color: @ash-text;
        font-weight: 800;
        font-size: 30px;
        margin-top: 22%;
        text-transform: uppercase;
        letter-spacing: 12px;
      }
      img {
        max-width: 158px;
        width: 65%;
        margin: 0 auto 12px;
      }
      h4 {
        color: @blue;
        font-size: 30px;
        font-weight: 800;
        margin: 0;
      }
      p {
        color: @blue;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
      }
    }
  }
}
//testmonial
.team-tstimonial {
  background-color: @blue;
  position: relative;
  .download-part {
    position: absolute;
    width: 47%;
    left: 50%;
    transform: translateX(-50%);
    top: -28%;
    .download-part-rap {
      p {
        font-size: 15px;
        font-weight: 700;
        text-align: center;
        color: @ash-text;
      }
      .download-area {
        background-color: @white;
        -webkit-box-shadow: 0px 10px 27px 0px rgba( 46, 49, 146, .1 );
    -moz-box-shadow: 0px 10px 27px 0px rgba( 46, 49, 146, .1 );
    box-shadow: 0px 10px 27px 0px rgba( 46, 49, 146, .1 );

    border-radius: 5px;
        .download-fileds {
          padding: 9.8% 0;
          .form-row {
            width: 70%;
            margin: 0 auto;
            input {

            }

          }
        }
      }
    }
  }
  .tstimonial-rap {
    padding: 9.6% 0;
    .tesimonial-title {
      width: 100%;
      text-align: center;
      padding: 0 0 40px 0;
      h2 {
        font-weight: 800;
        font-size: 30px;
        text-transform: uppercase;
        color: @white;
        letter-spacing: 10px;
      }
    }
    .carousel {
      width: 80%;
      margin: 0 auto;
      .carousel-indicators {
        bottom: -60px;
        li {
          width:  10px;
          height: 10px;
          border-radius: 50%;
          background-color: @sky;
          &.active {
            height: 12px;
            width: 12px;
            background-color: @white
          }
        }
      }
      .carousel-inner {
        .carousel-item {
          width: 60%;
          margin: 0 auto;
          text-align: center;
          p {
            color: @white;
            font-style: italic;
            font-size: 18px;
          }
        }
      }
      .carousel-control-prev {
        .carousel-control-prev-icon {
          background-image: url(../images/arrow-left.png);
          width: 11px;
          height: 17px;
        }
      }
      .carousel-control-next {
        .carousel-control-next-icon {
          background-image: url(../images/arrow-right.png);
          width: 11px;
          height: 17px;
        }
      }
    }
  }
}
